.row-sequence {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.tasks {
    overflow-y: scroll;
    scrollbar-width: thin; /* Para navegadores Firefox */
    scrollbar-color: #888 #f1f1f1; /* Para navegadores Firefox */
}

/* Para navegadores baseados em WebKit (Chrome, Safari, Edge) */
.tasks::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

.tasks::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
}

.tasks::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #f1f1f1; /* Espaço ao redor da barra de rolagem */
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
}
.ghost-card {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    text-align: center;
    color: #aaa;
    font-style: italic;
}
.sortable-ghost {
    opacity: 0.4;
    background: #f0f0f0;
}